<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ouvidoria</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/?size=100&id=37212&format=png&color=000000"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col justify-between max-h-screen">
    <!-- CABEÇALHO -->
    {% include '../includes/header.html' %} 
    {% include '../includes/toast.html' with dict=dict %}

    <!-- PRINCIPAL -->
    <main class="flex flex-col bg-gray-100 p-8 min-h-screen border overflow-y-scroll">
        <h1 class="text-2xl font-bold mb-4">Minhas Sugestões</h1>
      
        <div class="max-w-screen">
          <!-- TABELA -->
          <div class="min-w-full shadow overflow-x-scroll xl:overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-200">
                <tr class="text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                  <th class="px-2 py-2">ID</th>
                  <th class="px-2 py-2">Nome Completo</th>
                  <th class="px-2 py-2">E-mail</th>
                  <th class="px-2 py-2">Telefone</th>
                  <th class="px-2 py-2">Descrição</th>
                  <th class="px-2 py-2">Comentário</th>
                  <th class="px-2 py-2">Status</th>
                  <th class="px-2 py-2">Feedback</th>
                  <th class="px-2 py-2">Ações</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 sm:overflow-x-scroll">
                {% for sugestao in sugestoes %}
                <tr class="hover:bg-gray-100 border h-5 max-h-5 overflow-hidden sm:overflow-x-scroll">
                  <td class="px-2 py-2 h-5">{{ sugestao.id }}</td>
                  <td class="px-2 pt-4 h-5 overflow-x-scroll w-36 text-nowrap max-w-40">{{ sugestao.nome_completo }}</td>
                  <td class="px-2 pt-4 h-5 overflow-x-scroll w-36 text-nowrap max-w-40">{{ sugestao.email }}</td>
                  <td class="px-2 pt-4 h-5 overflow-x-scroll w-36 text-nowrap max-w-40">{{ sugestao.telefone }}</td>
                  <td class="px-2 text-left w-40 max-w-44 overflow-y-scroll align-top">
                    <div class="flex h-5 max-h-5 w-40 max-w-44 text-top">{{ sugestao.descricao }}</div>
                  </td>
                  <td class="px-2 text-left w-36 max-w-40 overflow-y-scroll align-top">
                    <div class="flex h-5 max-h-5 w-36 max-w-40 text-top">{{ sugestao.comentario }}</div>
                  </td>
                  <td class="px-2 py-2 w-10">
                    <div class="flex gap-1 items-center">
                      {% if sugestao.status %}
                        <svg class="h-4 w-4" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="10" cy="10" r="5" fill="green" />
                        </svg><span>Analisado</span>
                      {% else %}
                        <svg class="h-4 w-4" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="10" cy="10" r="5" fill="red" />
                        </svg><span class="text-red-600">Pendente</span>
                      {% endif %}
                    </div>
                  </td>
                  <td
                  class="px-2 text-left w-40 max-w-44 text-wrap overflow-y-scroll align-top">
                    <div class="flex h-5 max-h-5 w-20 max-w-24 text-top">{{sugestao.feedback}}</div>
                </td>
                  <td class="px-2 py-2 h-5 md:text-nowrap">
                    <a href="{% url 'mostrar_sugestao' sugestao.id %}">
                      <button aria-label="Editar reclamação" class="text-blue-600 hover:text-blue-900 mx-2">Editar</button>
                    </a>
                    <a href="{% url 'deletar_sugestao' sugestao.id %}">
                      <button aria-label="Excluir reclamação" class="text-red-600 hover:text-red-900 mx-2">Excluir</button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </main>
      
      
    <!-- RODAPÉ -->
    {% include '../includes/footer.html' %}
  </body>
</html>
