<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ouvidoria</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/?size=100&id=37212&format=png&color=000000"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col justify-between max-h-screen">
    <!-- CABEÇALHO -->
    {% include '../includes/header.html' %}
    {% include '../includes/toast.html' with dict=dict %}

    <!-- PRINCIPAL -->
    <main class="flex justify-between">
      <form
        action="{% if denuncia.id %} {%url 'alterar_denuncia' denuncia.id %}  {% else %} {%url 'cadastrar_denuncia' %} {% endif %}"
        method="POST"
        class="w-screen mx-auto bg-white p-6 rounded-lg shadow-md"
      >
        {% csrf_token %}
        <!-- SEÇÃO DO TITULO  -->
        <div class="flex-col mb-4">

          <!-- TITULO -->
          <div class="flex items-center text-center">
            <h2 class="text-2xl font-bold text-gray-800">
              Formulário de Denúncia
            </h2>
            <img
              src="https://img.icons8.com/?size=100&id=WCCI8L2xmjKt&format=png&color=000000"
              class="w-10 h-10"
            />
          </div>

          <!-- LEGENDA TITULO-->
          <small class="text-gray-500"
            >Por favor, descreva sua denúncia de forma clara e detalhada. Inclua
            informações relevantes, como o que ocorreu, quando e onde. Sua
            contribuição é importante para nós.
          </small>
        </div>

        <!-- SEÇÃO DE INFORMAÇÕES PESSOAIS -->
        <fieldset class="flex flex-col md:grid md:grid-cols-3 gap-2">

          <!-- LEGENDA DA SEÇÃO-->
          <legend class="text-xl font-semibold text-gray-700 mb-2">
            Informações Pessoais
          </legend>

          <!-- LABEL DE NOME -->
          <div class="mb-4">
            <label for="name" class="block text-gray-700">Nome Completo:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="{% if denuncia.nome_completo %} mt-1 p-2 border border-gray-300 rounded w-full text-gray-500 {% else %} mt-1 p-2 border border-gray-300 rounded w-full {% endif %} "
              placeholder="Seu nome"
              required
              value="{{ denuncia.nome_completo }}"
              {% if denuncia.nome_completo %} disabled {% endif %}
            />
            <small class="text-gray-500">
              Por favor, insira seu nome completo como no documento de identidade.
            </small>
          </div>
          
          <!-- LABEL DE EMAIL -->
          <div class="mb-4">
            <label for="email" class="block text-gray-700">E-mail:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="{% if denuncia.email %} mt-1 p-2 border border-gray-300 rounded w-full text-gray-500 {% else %} mt-1 p-2 border border-gray-300 rounded w-full {% endif %} "
              placeholder="Seu e-mail"
              required
              value="{{denuncia.email}}"
              {% if denuncia.email %} disabled {% endif %}
            />
            <small class="text-gray-500">Formato: seuemail@exemplo.com</small>
          </div>

          <!-- LABEL DE TELEFONE -->
          <div class="mb-4">
            <label for="phone" class="block text-gray-700">Telefone:</label>
            <input
              type="tel"
              id="phone"
              name="phone"
              class="{% if denuncia.telefone %} mt-1 p-2 border border-gray-300 rounded w-full text-gray-500 {% else %} mt-1 p-2 border border-gray-300 rounded w-full {% endif %} "
              placeholder="Seu telefone"
              required
              value="{{denuncia.telefone}}"
              {% if denuncia.telefone %} disabled {% endif %}
            />
            <small class="text-gray-500">Formato: (DD) XXXXX-XXXX</small>
          </div>
        </fieldset>

        <hr class="mb-2" />

        <!-- SEÇÃO DE DENÚNCIA -->
        <fieldset class="flex flex-col md:grid md:grid-cols-2 gap-2">

          <!-- LEGENDA DA SEÇÃO-->
          <legend class="text-xl font-semibold text-gray-700 mb-2">
            Denúncia
          </legend>

          <!-- LABEL TIPO DE DENÚNCIA -->
          <div class="mb-4">
            <label for="type" class="block text-gray-700">Tipo de Denúncia:</label>
            <select
                id="type"
                name="type"
                class="{% if denuncia.tipo_denuncia %}mt-1 p-2 border border-gray-300 rounded w-full text-gray-500{% else %}mt-1 p-2 border border-gray-300 rounded w-full{% endif %}"
                required
                {% if denuncia.tipo_denuncia %} disabled {% endif %}
            >
                <option value="" disabled {% if not denuncia.tipo_denuncia %}selected{% endif %}>Selecione uma opção</option>
                <option value="abuso" {% if denuncia.tipo_denuncia == "abuso" %}selected{% endif %}>Abuso</option>
                <option value="assédio" {% if denuncia.tipo_denuncia == "assédio" %}selected{% endif %}>Assédio</option>
                <option value="fraude" {% if denuncia.tipo_denuncia == "fraude" %}selected{% endif %}>Fraude</option>
                <option value="negligencia" {% if denuncia.tipo_denuncia == "negligencia" %}selected{% endif %}>Negligência</option>
            </select>
          </div>
        
          <!-- LABEL ANEXO DE ARQUIVO-->
          <div class="mb-4">
            <label for="evidence" class="block text-gray-700"
              >Anexar Documentos/Provas:</label
            >
            <input
              type="file"
              id="evidence"
              name="evidence"
              class="mt-1 p-2 border border-gray-300 rounded w-full h-11"
              {% if denuncia.id %} disabled {% endif %}
            />
          </div>

          <!-- LABEL DESCRIÇÃO-->
          <div class="col-span-2 mb-4">
            <label for="description" class="block text-gray-700"
              >Descrição da Denúncia:</label
            >
            <textarea
              id="description"
              name="description"
              rows="4"
              class="{% if denuncia.descricao %} mt-1 p-2 border border-gray-300 rounded w-full resize-none text-gray-500 {% else %} mt-1 p-2 border border-gray-300 rounded w-full resize-none{% endif %}"
              placeholder="Descreva sua denúncia"
              required
              {% if denuncia.descricao %} disabled {% endif %}
            >{{denuncia.descricao}}</textarea>
          </div>
        </fieldset>

        <hr class="mb-2" />

        <!-- SEÇÃO DE CONTATO -->
        <fieldset>

          <!-- LEGENDA DA SEÇÃO-->
          <legend class="text-xl font-semibold text-gray-700 mb-2">
            Contato
          </legend>

          <!-- LABEL PREFERÊNCIA CONTATO-->
          <div class="mb-4">
            <label for="contact-preference" class="block text-gray-700"
              >Preferência de Contato:</label
            >
            <select
              id="contact-preference"
              name="contact-preference"
              class="{% if denuncia.preferencia_contato %}mt-1 p-2 border border-gray-300 rounded w-full text-gray-500 {% else %}mt-1 p-2 border border-gray-300 rounded w-full{% endif %}"
              required
              {% if denuncia.preferencia_contato %} disabled {% endif %}
            >
              <option value="" disabled {% if not denuncia.preferencia_contato %} selected {% endif %}>Selecione uma opção</option>
              <option value="email" {% if denuncia.preferencia_contato == "email" %} selected {% endif %} >E-mail</option>
              <option value="telefone" {% if denuncia.preferencia_contato == "telefone" %} selected {% endif %}>Telefone</option>
            </select>
          </div>

          <!-- LABEL CHECK CONFIDENCIALIDADE -->
          {% if not denuncia.id %}
          <div class="mb-4">
            <label class="flex items-center">
              <input
                type="checkbox"
                name="confidentiality"
                required
                class="mr-2"
              />
              <span class="text-gray-700"
                >Concordo que minha denúncia será tratada de forma
                confidencial.</span
              >
            </label>
          </div>
          {% endif %}
        </fieldset>

        <hr class="mb-2" />

        <!-- SEÇÃO DE COMENTÁRIOS ADICIONAIS -->
        <fieldset class="mb-2">

          <!-- LEGENDA DA SEÇÃO-->
          <legend class="text-xl font-semibold text-gray-700 mb-2">
            Comentários Adicionais
          </legend>

          <!-- LABEL COMENTARIO -->
          <div class="mb-4">
            <label for="comments" class="block text-gray-700"
              >Comentários Adicionais:</label
            >
            <textarea
              id="comments"
              name="comments"
              rows="2"
              class="{% if denuncia.comentario %} mt-1 p-2 border border-gray-300 rounded w-full resize-none text-gray-500 {% else %} mt-1 p-2 border border-gray-300 rounded w-full resize-none{% endif %}"
              placeholder="Comentários adicionais" 
              {% if denuncia.comentario %} disabled {% endif %}
            >{{denuncia.comentario}}</textarea>
          </div>
        </fieldset>

        {% if denuncia.id %}

        <hr class="mb-2" />

        <!-- SEÇÃO DE FEEDBACK -->
        <fieldset class="mb-4">

          <!-- LEGENDA DA SEÇÃO-->
          <legend class="text-xl font-semibold text-gray-700 mb-2">
            Feedback Responsável
          </legend>

          <!-- LABEL FEEDBACK -->
          <div class="mb-2">
            <label for="feedback" class="block text-gray-700">Area de Feedback:</label>
            <textarea id="feedback" name="feedback" rows="2" 
            class="mt-1 p-2 border border-gray-300 rounded w-full resize-none"
            placeholder="Feedback ao solicitante" required>{{denuncia.feedback}}</textarea>
          </div>

          <!-- LABEL SITUAÇÃO DA SOLICITÃO-->
          <div class="mb-4">
          <label for="status" class="block text-gray-700">Situação da Denúncia:</label>
            <select
                id="status"
                name="status"
                class="mt-1 p-2 border border-gray-300 rounded w-full"
                required
            >

                <option value="True" {% if denuncia.status %}selected{% endif %}>Analisado</option>
                <option value="False" {% if not denuncia.status %}selected{% endif %}>Pendente</option>
              
            </select>
          </div>
        </fieldset>

        {% endif %}


        <!-- BOTÕES FINAL FORMULARIO -->
        <div class="flex gap-2">

          <!-- BOTÃO DE VOLTA PARA PAGINA PRINCIPAL -->
          <a href="{% url 'home' %}" class="w-full">
            <button
              type="button"
              class="w-full bg-red-600 text-white py-2 rounded hover:bg-red-700 transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mr-2 inline"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="15 18 9 12 15 6" />
              </svg>
              Voltar Página de Inicio
            </button>
          </a>

          <!-- BOTÃO DE ENVIO FORMULARIO -->
          <button
            type="submit"
            class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition duration-300 flex items-center justify-center"
          >
          {% if denuncia.id %} 
            Alterar Denúncia 
          {% else %} 
            Enviar Denúncia 
          {% endif %}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 ml-2 inline"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="9 18 15 12 9 6" />
            </svg>
          </button>
        </div>


      </form>
    </main>

    <!-- RODAPÉ -->
    {% include '../includes/footer.html' %}
  </body>
</html>
